body {
    background-color: #3D90D7;
    background-image: url(https://i0.wp.com/eos.org/wp-content/uploads/2021/10/ocean-surface.jpg?fit=1200%2C675&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.journey{
    text-align: center;
    font-size: 20px;
    margin: 250px 100px;
}

header {
    height: 100px;
    
    margin: 250px 125px;
    font-size: medium;

}

.link {
   background-color: white;
    height: 75px;
    
    border-radius: 20px;
    
    a{
        color: #222831;
        margin: 25% 2%;
        text-decoration: none;
    }
}

.Memory {
   
    height: 100%;
    
    margin: 20px 50%;
    text-align: center;
    font-size: 50px;
}

.บำเพ็ญประโยชน์ {
    height: 100%;
    
    margin: 20px 25px;
    text-align: center;
    font-size: 35px;
    

}

.slideshow {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-top: 50px;

}

.picture{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden
}

.picture img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: 50px 25%;
    border-radius: 20px;
    overflow: hidden;
    
}

.slideshow .slick-prev {
    position: absolute;
    top: 400px;
    left: 0;
    z-index: 10;
}

.slideshow .slick-next {
    position: absolute;
    top: 400px;
    right: 0;
    z-index: 10;
}

.slideshow .slick-arrow {
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    outline: none;
}
